:host {
    background: white;
    border-color: #d3d3d3;
    border-width:2px;
    border-style: solid;
    padding: 1px 0;
    display: inline-flex !important;
    width: 100%;
}

:host(.input-focus) {
    border-color: #9ddefe;
    -webkit-box-shadaw: 0px 0px 5px #94d7fe;
    outline:none;
}

.icon {
    width:2em;
    text-align: center;
    padding-left: .5em;
    padding-right: 1.2em;
    border:none;
    color: #242122 !important;
    display: inline-block;
}

:host /deep/ input {
    border:none;
    outline: none;
    height: 100%;
    margin: 1px 0;
    box-sizing: border-box;
    width: 100%;
}
