
<div class="welcome-container">
  <div class="welcome">
    <p-card title="Idee" subtitle="Wozu ist diese Applikation entstanden"
            styleClass="ui-card-shadow">
      <p-header>
        <img src="Card" src="assets/img/cards/welcome_1.png">
      </p-header>
      <div>
        Idris' Games ist ein Karten Spiel Portal, das innerhalb nächste 2 Jahren wird entwicklelt werden.
        Dies wird ein Geschenk von mir zu meinem Sohn Idris Ismaeil.
        In der Hoffnung, dass mein Sohn dies weiter entwickeln kann, und das Applikation weltberühmt machen kann.
      </div>
      <p-footer>
        <button pButton type="button" label="klar" icon="fa fa-fw fa-check"></button>
        <button pButton type="button" label="blödsinn" icon="fa fa-fw fa-close" class="ui-button-secondary"></button>
      </p-footer>
    </p-card>
  </div>
</div>

<div class="welcome-container">
  <div class="welcome">
    <p-card title="Ziel" subtitle="Was wollen wir erreichen"
            styleClass="ui-card-shadow">
      <p-header>
        <img src="Card" src="assets/img/cards/target.png">
      </p-header>
      <div>
        Wir wollen, dass jeder/jede hier seinen/ihren Spass haben. Respeckt, Gleichheit und Akzptanz soll hier herrschen.
        Es gibt keinen Vorteil für besondere und es gibt keinen Nachteil für andere.
        Hier ist die Intellegenz und Fertigkeiten gefragt
      </div>
      <p-footer>
        <button pButton type="button" label="verstanden" icon="fa fa-fw fa-check"></button>
        <button pButton type="button" label="nicht fair" icon="fa fa-fw fa-close" class="ui-button-secondary"></button>
      </p-footer>
    </p-card>
  </div>
</div>

