<!--<div class="main-menu">
  <div class="topmenu">
    <p-menubar [model]="menuService.items">
      <p-dropdown [options]="menuService.i18Translation.supportedLanguages" [(ngModel)]="menuService.i18Translation.userLanguage"
                  [filter]="true" filterBy="label"
                  (onChange)="menuService.i18Translation.userChangeLanguage()" [style.width]="'120px'">
        <ng-template let-lang pTemplate="selectedItem">
          <img src="{{lang.value.img}}" style="width:16px;vertical-align:middle; horiz-align: left" />
          <span style="width: fit-content; vertical-align:middle; horiz-align: right; margin-left: 5px">{{lang.value.label}}</span>
        </ng-template>
        <ng-template let-lang pTemplate="item">
          <div class="ui-helper-clearfix" style="position: relative;height:25px;">
            <img src="{{lang.value.img}}" style="width:24px;position:absolute;top:1px;left:5px; horiz-align: left" />
            <span style="width: fit-content; font-size:14px;float:right;margin-top:4px; horiz-align: right; margin-left: 5px">{{lang.value.label}}</span>
          </div>
        </ng-template>
      </p-dropdown>
    </p-menubar>
  </div>
  <idrisgames-breadcrumb [menusArray] = "menuService.currentCrumbMenuItem"></idrisgames-breadcrumb>
</div>-->

<div class="main-menu">
  <div class="ui-g ui-g-offset-0 ui-g-nopad">
    <div class="ui-g-12 topmenu ui-g-nopad">
      <div class="ui-g-9" align="left">
        <p-slideMenu #menuS [model]="menuService.items" [popup]="true"  effectDuration="250" easing="ease-in" baseZIndex="999999"></p-slideMenu>
        <button #btn type="button" pButton icon="pi pi-bars" label="Show" (click)="menuS.toggle($event)"></button>
      </div>
      <div class="ui-g-3" align="right">
        <p-dropdown [options]="menuService.i18Translation.supportedLanguages" [(ngModel)]="menuService.i18Translation.userLanguage"
                    [filter]="true" filterBy="label"
                    (onChange)="menuService.i18Translation.userChangeLanguage()">
          <ng-template let-lang pTemplate="selectedItem">
            <img src="{{lang.value.img}}" style="width:16px;vertical-align:middle; horiz-align: left" />
            <span style="vertical-align:middle; horiz-align: right; margin-left: 5px">{{lang.value.label}}</span>
          </ng-template>
          <ng-template let-lang pTemplate="item">
            <div class="ui-helper-clearfix" style="position: relative;height:25px;">
              <img src="{{lang.value.img}}" style="width:24px;position:absolute;top:1px;left:5px; horiz-align: left" />
              <span style="font-size:14px;float:right;margin-top:4px; horiz-align: right; margin-left: 5px">{{lang.value.label}}</span>
            </div>
          </ng-template>
        </p-dropdown>
      </div>
    </div>
    <div class="ui-g-12 ui-g-offset-0 ui-g-nopad">
      <idrisgames-breadcrumb [menusArray] = "menuService.currentCrumbMenuItem"></idrisgames-breadcrumb>
    </div>
  </div>

</div>

