<!--<div id="app-entry" class="ui-g ui-g-nopad ui-g-offset-0">
  <header id="app-entry-header">
    <app-top-header></app-top-header>
  </header>
  <main id="app-entry-view-port">
    <app-view-port></app-view-port>
  </main>
  <footer id="app-entry-footer">
    <app-bottom-footer></app-bottom-footer>
  </footer>
</div>-->

<div id="app-entry"  class="ui-grid">
  <div class="ui-grid-row header">
    <div class="ui-grid-col-12">
      <app-top-header></app-top-header>
    </div>
  </div>
  <div class="ui-grid-row main">
    <div class="ui-grid-col-12">
      <app-view-port></app-view-port>
    </div>
  </div>
  <div class="ui-grid-row footer">
    <div class="ui-grid-col-12">
      <app-bottom-footer></app-bottom-footer>
    </div>
  </div>
</div>
<!--<div id="app-entry"  class="mat-main-background basic-container ui-g ui-g-nopad ui-g-offset-0">
  <material-nav-menu>
  </material-nav-menu>
  <main id="app-entry-view-port">
    <app-view-port></app-view-port>
  </main>
</div>-->
