:host{
  background-color: #cfeffe !important;
  font-size: 1rem !important;;
}

.owner-msg{
  color: darkgreen !important;
}
.other-msg-important{
  color: maroon !important;
  font-style: oblique;
}
.other-msg {
  color: black !important;
}
