<div class="ui-grid">
  <div class="ui-grid-row">
    <div class="ui-grid-col-8 ui-lg-8">
      <div class="ui-grid-col-12">
        <idrisgames-global-chat-overview></idrisgames-global-chat-overview>
      </div>
    </div>
    <div class="ui-grid-col-4 ui-md-4 ui-lg-4" [ngClass]="{'center-video': 'true'}">
      <div class="ui-grid-col-12">
        <div class="ui-grid">
          <div class="ui-grid-row">
            <div class="ui-grid-col-12">
              <idrisgames-video-chat></idrisgames-video-chat>
            </div>
          </div>
          <div class="ui-grid-row">
            <div class="ui-grid-col-12">
              <idrisgames-other-side-video-chat></idrisgames-other-side-video-chat>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
